package layout

templ Render() {
	<!DOCTYPE html>
	<html lang="en">
		<head>
			<meta charset="UTF-8"/>
			<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
			<script src="assets/js/htmx.min.js"></script>
			<link rel="stylesheet" href="assets/css/style.css"/>
			<script src="//unpkg.com/alpinejs" defer></script>
			<title>Document</title>
		</head>
		<body>
			{ children... }
		</body>
	</html>
}
